// Файл обнуляющих стилей
@import "nullstyle.scss";

$color1: #445162;
$color2: #ffffff;
$color3: #f5f5f5;
$color4: #445161;

body {
background-color: #282828;
}
.page{
	max-width: 1280px;
	margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.header {
	padding: 51px 51px 48px 50px;
	display: flex;
	background-color: $color4;
	justify-content: space-between;


	&__textbox {

		color: $color2;
	}

	&__title {
		font-size: 58px;
		margin: -7px 0 41px -4px;
	}

	&__list-item {
		font-size: 20px;
		margin-bottom: 12px;
	}

	.header__list-item:last-child {
		margin-bottom: 0;
	}

	.header__list-item::before {
		content: '';
		display: inline-block;
		width: 25px;
		height: 24px;
		margin-right: 10px;
		vertical-align: middle;
		background: url(../img/check-icon-white.png) no-repeat;
	}

	&__image {
		align-items: flex-start;
	}

}

.about {
	background-color: $color2;
	display: flex;
	padding: 48px 50px 42px 50px;

	&__image {
		margin-right: 39px;
		height: 186px;
	}

	&__title {
		color: $color4;
		font-size: 30px;
		margin-bottom: 26px;
	}

	&__text1 {
		color: #333333;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 24px;
	}

	&__text2 {
		color: #333333;
		line-height: 24px;
		font-size: 16px;
	}
}

.column-block {
	background-color: $color3;
	padding: 45px 50px 48px 50px;

	&__title {
		color: $color4;
		font-size: 30px;
		margin-bottom: 32px;
		text-align: center;
	}
}

.container {

	display: flex;
}

.column {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-right: 15px;

	&__item {
		display: flex;
		margin-bottom: 28px;
	}

	.column__item:last-child {
		margin-bottom: 0;
	}

	&__image {
		margin-right: 15px;
		width: 200px;
		height: 150px;

	}

	&__description {}

	&__title {
		color: $color4;
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 8px;
		margin-top: -6px;
	}

	&__text {
		color: #333333;
		font-size: 16px;
		line-height: 24px;
	}
}
.vertical-block {
	padding: 46px 145px 0 145px;
	background-color: $color2;
}
.vertical-block__title {
	font-size: 30px;
	color: $color4;
	text-align: center;
	margin-bottom: 35px;
}
.message-board {
display: flex;
padding-bottom: 49px;
}
.board {

	display: flex;
	flex-direction: column;
	background-color: $color4;
	margin-right: 45px;
	flex-basis: 33.3333%;
	border-radius: 5px;
	padding-bottom: 20px;

	&:last-child{
		margin-right: 0;
	}

	&__text1 {
		font-size: 24px;
		text-transform: uppercase;
		padding: 15px 0 14px;
		text-align: center;
		color: $color2;
	}
	&__text2 {
		font-size: 40px;
		
		
		padding: 10px 0 17px;
		text-align: center;
		color: $color4;
		background-color: $color2;
		border-left: 2px solid $color4 ;
		border-right: 2px solid $color4 ;
		
	}
	&__text3 {
		padding: 15px 21px 23px;
		color: $color2;
	line-height: 24px;
	flex: 1 1 auto;
		

	}
	&__link{
		display: inline-flex;
		margin: 0 auto;
		width: 86.666%;
		justify-content: center;
		border-radius: 5px;
		padding: 10px 0 12px;
		margin-top: -7px;
		background-color: $color2;
		
	}
	&__button {
		font-size: 18px;
		color: $color4;
	}
}





.footer {
	background-color: $color3;
	
	&__text{
		text-align: center;
		padding: 30px 0 23px 0;
	font-size: 12px;
	}
}